#menuOverlayBtn {
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
    color: #363040;
}

#menuOverlayBtn:hover{
    transition: 0.4s ease-in-out;
    transform: scale(1.2);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    
    width: 100%;
    height: 100%;
    display: none;

    font-family: 'Nunito';
    font-weight: 900;
}

.overlay.active {
    display: flex;
}

.menu {
    width: 200px;
    height: 100%;
    padding: 20px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.837);
    background-color: #363040;
    border-radius: 5px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;

    text-transform: uppercase;
}

.menu ul {
    padding: 0;
    margin: 20px 0;

    position: relative;
    top: 3rem;

    padding-left: 1rem;
}

.menu ul::before{
    content: '';
    height: 100vh;
    width: 1px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 5rem;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    text-decoration: none;
    color: #F0BC23;
    font-size: 1.2rem;
}

.menu ul li a:hover {
    color: white;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 2.3rem;
    color: white;
}

.close-btn:hover{
    color: #007bff;
}

@media (max-width: 1000px) {
    #menuOverlayBtn{
        display: block;
    }
}