footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'Nunito', Calibri;
    color: #363040;
    margin: 20rem auto 2rem auto;
}

footer #up {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

footer #up img {
    width: 25rem;
}

footer #up h1 {
    font-weight: 700;
    font-size: 2.5rem;
}

#burocracia {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#burocracia a {
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

#contatos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

#contatos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 500;
    font-size: 0.7rem;
}

#contatos div img {
    width: 3.3rem;
}

#imagens {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


footer #imagem img {
    max-width: clamp(8rem, 12vw, 15rem); /* Controla a largura da imagem */
    height: auto; /* Mantém a proporção */
    margin: 0 auto; /* Centraliza a imagem */
    display: block; /* Garante que a imagem ocupe a linha inteira */
    border-radius: 8px; /* Bordas arredondadas para um toque harmônico */
}



#imagens img:first-child {
    width: 5.75rem;
}

#imagens img:last-child {
    width: 7.5rem;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

@media (max-width: 390px) {
    footer #up {
        gap: 1rem;
    }

    #burocracia {
        gap: 0.5rem;
        white-space: nowrap;
    }

    #burocracia a {
        font-size: 0.8rem;
    }

    footer #up h1 {
        font-size: 2rem;
    }

    #contatos {
        gap: 0.5rem;
    }
}

@media (max-width: 300px) {
    footer {
        width: 100%;
        margin: 0 auto;
    }

    #contatos {
        flex-wrap: wrap;
    }

    #burocracia {
        flex-wrap: wrap;
    }
}